.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    z-index: 1;
    border-bottom: 1px solid rgba(256, 256, 256, 0.3);
    font-size: 0.7em;
    margin-bottom: 2em;
    h2 {
        font-weight: bold;
    }
}

@media (max-width: 650px) {
    .header {
        padding: .4em;
        position: fixed;
        background: $header;
        border: none;
    }
}