#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: rgba (100, 200, 300, 0.1);
    background-image: url("https://images.unsplash.com/photo-1501597301489-8b75b675ba0a?dpr=1&auto=compress,format&fit=crop&w=1949&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    background-position: center center;
    color: $gray;
    font-size: 16px;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.overlay {
    display: flex;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 80vh;
    z-index: 1;
}

h1 {
    color: $main;
    margin: 1em 0;
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

a {
    color: $gray;
    text-decoration: none;
    &:hover {
        color: $main;
        transition: 0.3s;
    }
}

select {
    font-size: 16px;
}

span {
    margin-right: 10px;
}

i {
    cursor: pointer;
    &:hover {
        transition: 0.3s;
    }
}

@media (max-width: 650px) {
    #app {
        background-image: none;
        background: linear-gradient(0deg, $greengradient1, $greengradient2)
    }
    h2,
    select,
    label,
    a {
        font-size: 0.9em;
    }
    .header {
        h2,
        select,
        label,
        a {
            font-size: 1em;
        }
    }
}