.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    h1 {
        flex-basis: 100%;
        margin: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 33%;
<<<<<<< HEAD
            border-radius: 10px;
=======
            border-radius: 7px;
            padding: 1.3em;
            // background-color: rgba(256, 256, 256, 0.4);
>>>>>>> d37680902261e05f219dacec120b3227957694ef
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin: 2em 10px 0 10px;
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            >span {
                font-weight: bold;
                font-size: 18px;
                padding: 1.3em;
                &:focus {
                    outline: $main dashed thin;
                }
                &:hover {
                    color: $main;
                    opacity: 1;
                }
            }
        }
    }
    &__settings {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: auto;
        font-size: 18px;
<<<<<<< HEAD
        padding: 1.3em;
        top: -100px;
        background-image: linear-gradient(rgba(104, 173, 139, 0.5), rgba(104, 173, 139, 0.5));
        background-repeat: no-repeat;
        background-size: 100% 0%;
        transition: background-size .3s, color .3s;
        &:hover {
            opacity: 1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-size: 100% 100%;
=======
        &:hover {
            opacity: 1;
        }
        &__show {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-right: auto;
            background: rgba(104, 173, 139, 0.5);
            border-radius: 20px;
            &:hover {
                color: $main;
            }
>>>>>>> d37680902261e05f219dacec120b3227957694ef
        }
        &__completed {
            display: flex;
            align-items: center;
            justify-content: center;
<<<<<<< HEAD
=======
            margin-left: 2em;
>>>>>>> d37680902261e05f219dacec120b3227957694ef
            width: 30px;
            height: 30px;
            background: rgba(104, 173, 139, 0.5);
            border-radius: 20px;
            &:hover {
                color: $main;
            }
        }
        &__user {
            padding-right: 5px;
        }
        &__priority {
<<<<<<< HEAD
            @extend .cards__settings__completed;
            background: rgba(104, 173, 139, 0.5);
=======
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: rgba(104, 173, 139, 0.5);
            border-radius: 20px;
            opacity: 0.5;
            color: $gray;
>>>>>>> d37680902261e05f219dacec120b3227957694ef
            &:hover {
                color: $lightning;
            }
        }
        &__url {
<<<<<<< HEAD
            @extend .cards__settings__completed;
            background: rgba(24, 125, 242, 0.5);
=======
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: blue;
            border-radius: 20px;
            opacity: 0.5;
            color: $gray;
            padding: 0;
            color: $white;
            margin-right: 10px;
>>>>>>> d37680902261e05f219dacec120b3227957694ef
            &:hover {
                color: $url;
                transition: 0s;
            }
        }
        &__trash {
<<<<<<< HEAD
            @extend .cards__settings__completed;
            background: rgba(175, 17, 28, 0.5);
            margin-left: 2em;
=======
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2em;
            width: 30px;
            height: 30px;
            background: rgba(175, 17, 28, 0.5);
            border-radius: 20px;
>>>>>>> d37680902261e05f219dacec120b3227957694ef
            &:hover {
                color: $trash;
            }
        }
    }
}

@media (max-width: 1150px) {
    .cards {
        ul {
            li {
                flex: 1 1 40%;
            }
        }
    }
}

@media (max-width: 750px) {
    .cards {
<<<<<<< HEAD
        width: 90%;
        &__settings {
            opacity: 1;
        }
=======
        width: 100%;
        &__settings {
            opacity: 1;
        }
        h1 {
            font-size: 1.2em;
        }
>>>>>>> d37680902261e05f219dacec120b3227957694ef
        ul {
            padding: 0 0.5em;
            li {
                flex-basis: 100%;
<<<<<<< HEAD
=======
                margin: 0.7em 0 0 0;
                padding: 0.9em;
>>>>>>> d37680902261e05f219dacec120b3227957694ef
                span {
                    font-size: 1em;
                }
            }
        }
        &__settings {
            padding: 1.2em;
        }
    }
}

//States - Priority and completado
.completado {
    background-color: rgba(104, 173, 139, 0.4) !important;
    >span {
        text-decoration: line-through;
    }
    opacity: 0.25;
    transition: 0.3s;
    span.cards__settings__completed {
        color: $main;
        opacity: 1;
    }
}

.berta {
    background-size: cover;
    background-position: center center;
    background-color: rgba(121, 7, 245, 0.1);
    position: relative;
    &:after {
        content: "";
        background-image: url('https://emojipedia-us.s3.amazonaws.com/thumbs/160/apple/96/woman_emoji-modifier-fitzpatrick-type-1-2_1f469-1f3fb_1f3fb.png');
        background-repeat: no-repeat;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-position: left top;
    }
}

.berto {
    @extend .berta;
    background-color: rgba(255, 165, 0, 0.3);
    &:after {
        content: "";
        background-image: url('https://emojipedia-us.s3.amazonaws.com/thumbs/160/apple/96/lion-face_1f981.png');
        background-position: left -30%;
        ;
    }
}

.berta.withpriority {
    background-color: rgba(121, 7, 245, 0.4);
    .cards__settings__priority {
        background: rgba(252, 191, 30, 0.5);
        color: $lightning;
        opacity: 1;
    }
}

.berto.withpriority {
    background-color: rgba(255, 165, 0, 0.4);
    transition: all 0.5s ease;
    .cards__settings__priority {
        background: rgba(252, 191, 30, 0.5);
        color: $lightning;
        opacity: 1;
    }
}