.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    h1 {
        flex-basis: 100%;
        margin: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 33%;
            border-radius: 10px;
            padding: 1.3em;
            background-color: rgba(256, 256, 256, 0.4);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin: 2em 10px 0 10px;
            flex: 1 1 30%;
            >span {
                font-weight: bold;
                font-size: 18px;
                &:focus {
                    outline: $main dashed thin;
                }
                &:hover {
                    color: $main;
                    opacity: 1;
                }
            }
        }
    }
    &__settings {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 1em;
        &__completed {
            &:hover {
                color: $main;
            }
        }
        &__user {
            padding-right: 5px;
        }
        &__priority {
            opacity: 0.5;
            color: $gray;
            &:hover {
                color: $lightning;
            }
        }
        &__url {
            padding: 0;
            color: $white;
            margin-right: 10px;
            &:hover {
                color: $url;
                transition: 0s;
            }
        }
        &__trash {
            &:hover {
                color: $trash;
            }
        }
    }
}

.withpriority {
    background-color: RGBA(252, 192, 30, 0.4) !important;
    .cards__settings__priority {
        color: $lightning;
        opacity: 1;
    }
}

.completado {
    background-color: rgba(104, 173, 139, 0.4) !important;
    >span {
        text-decoration: line-through;
    }
    opacity: 0.25;
    transition: 0.3s;
    span.cards__settings__completed {
        color: $main;
        opacity: 1;
    }
}

@media (max-width: 1150px) {
    .cards {
        ul {
            li {
                flex: 1 1 40%;
            }
        }
    }
}

@media (max-width: 750px) {
    .cards {
        width: 90%;
        ul {
            li {
                flex-basis: 100%;
                margin: 1.2em 0 0 0;
                padding: 0.9em;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}