.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    h1 {
        flex-basis: 100%;
        margin: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 33%;
            border-radius: 10px;
            padding: 1.3em;
            background-color: rgba(256, 256, 256, 0.3);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin: 2em 10px 0 10px;
            flex: 1 0 auto;
        }
    }
    &__settings {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 1em;
        &__user {
            padding-right: 5px;
        }
        &__priority {
            &:hover {
                color: $lightning;
            }
        }
        &__url {
            padding: 0;
            color: $white;
            margin-right: 10px;
            &:hover {
                color: $url;
            }
        }
        &__trash {
            &:hover {
                color: $trash;
            }
        }
    }
}

@media (max-width: 650px) {
    .cards {
        width: 90%;
        ul {
            li {
                flex-basis: 100%;
                margin: 1.2em 0 0 0;
            }
        }
    }
}