.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    h1 {
        flex-basis: 100%;
        margin: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 33%;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            margin: 1em 10px 0 10px;
            flex: 1 1 30%;
            display: flex;
            padding: 0.7em;
            flex-wrap: wrap;
            >span:first-child {
                font-size: 1.2em;
                padding: 0.5em;
                flex-basis: 80%;
                &:focus {
                    outline: $main dashed thin;
                }
                &:hover {
                    color: $main;
                    opacity: 1;
                }
            }
        }
    }
    &__show {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        font-size: 0.9em;
        padding-top: 1em;
    }
    &__settings {
        display: none;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid rgba(256, 256, 256, 0.2);
        padding: 1em;
        ;
        font-size: 18px;
        margin-left: auto;
        transition: display 0.4s ease-in;
        flex-basis: 100%;
        &__completed {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: rgba(104, 173, 139, 0.5);
            border-radius: 20px;
            &:hover {
                color: $main;
            }
        }
        &__user {
            padding-right: 5px;
        }
        &__priority {
            @extend .cards__settings__completed;
            background: rgba(0, 0, 0, 0.2);
            &:hover {
                color: $lightning;
            }
        }
        &__url {
            @extend .cards__settings__completed;
            background: rgba(24, 125, 242, 0.5);
            &:hover {
                color: $url;
                transition: 0s;
            }
        }
        &__trash {
            @extend .cards__settings__completed;
            background: rgba(175, 17, 28, 0.5);
            margin-left: 2em;
            &:hover {
                color: $trash;
            }
        }
    }
}

@media (max-width: 1150px) {
    .cards {
        ul {
            li {
                flex: 1 1 40%;
            }
        }
    }
}

@media (max-width: 750px) {
    .cards {
        width: 100%;
        &__show {
            padding-top: 0;
        }
        &__settings {
            opacity: 1;
        }
        h1 {
            font-size: 1.2em;
        }
        ul {
            padding: 0 0.2em;
            li {
                box-shadow: initial;
                flex-basis: 100%;
                margin: 0.2em 0 0 0;
                >span:first-child {
                    font-size: 0.9em;
                }
            }
        }
        &__settings {
            padding: 1em 0 0.5em 0;
            ;
        }
    }
}

//States - Priority and completado
.completado {
    background-color: rgba(104, 173, 139, 0.4) !important;
    >span {
        text-decoration: line-through;
    }
    opacity: 0.25;
    transition: 0.3s;
    span.cards__settings__completed {
        color: $main;
        opacity: 1;
    }
}

.card.berta {
    background-color: rgba(240, 120, 120, 0.2);
    position: relative;
    &:after {
        content: "";
        background-image: url('../assets/berta.jpg');
        background-repeat: no-repeat;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-position: center 62%;
    }
}

.card.berto {
    @extend .berta;
    background-color: rgba(132, 189, 0, 0.2);
    &:after {
        content: "";
        background-image: url('../assets/berto.jpg');
        background-position: center 62%;
    }
}

.card {
    @extend .berta;
    background-color: rgba(256, 256, 256, 0.2);
    &:after {
        content: "";
        background-image: url('../assets/both.jpg');
        background-position: center 38%;
    }
}

.berta.withpriority {
    background-color: rgba(240, 120, 120, 0.6);
    .cards__settings__priority {
        background: rgba(252, 191, 30, 0.5);
        color: $lightning;
        opacity: 1;
    }
}

.berto.withpriority {
    background-color: rgba(132, 189, 0, 0.6);
    transition: all 0.5s ease;
    .cards__settings__priority {
        background: rgba(252, 191, 30, 0.5);
        color: $lightning;
        opacity: 1;
    }
}

.card.withpriority {
    background-color: rgba(256, 256, 256, 0);
    .cards__settings__priority {
        background: rgba(252, 191, 30, 0.5);
        color: $lightning;
        opacity: 1;
    }
}

.mostrarsettings {
    display: flex !important;
    transition: display 0.4s ease-out;
}