.footer {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 5em 1em 0 1.4em;
    flex-wrap: wrap;
    &__copyright {
        margin: 0 2em 2em 0;
        i:first-child {
            padding-right: 1px;
        }
    }
}

@media (max-width: 650px) {
    .footer {
        &__copyright {
            font-size: 12px;
            i:first-child {
                font-size: 12px;
            }
        }
    }
}