.form {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    margin-top: 4em;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        margin: 1em 0;
        &__user {
            overflow: hidden;
            background-color: transparent;
            select {
                font-family: 'FontAwesome', 'Avenir';
                border: none;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
                appearance: none;
                color: $gray;
                margin-right: 2em;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    form {
        padding: 0 2em;
    }
}