.form {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
}

.select-style {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

.select-style select {
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #dadada;
}

label {
    font-size: 16px;
    color: #dadada;
}

option {
    font-size: 20px;
}

.select-style select:focus {
    outline: none;
}

@media (max-width: 650px) {
    form {
        padding: 0 2em;
    }
}