.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
    z-index: 1;
    h2 {
        font-weight: bold;
    }
}

@media (max-width: 650px) {
    .header {
        padding: 2em 2em 3em 2em;
    }
}