.weather {
    font-size: 1.4em;
    align-items: center;
    display: flex;
    font-weight: bold;
    &__img {
        width: 30px;
    }
}

@media (max-width: 650px) {
    .weather {
        font-size: 1em;
        &__img {
            width: 20px;
        }
    }
}